<!-- let Product= require(../cart) this is getting cart.js -->


<%- include('partials/_header') %>

  <div class="container">
    <div class="row">
      <div class="col-2 ">
        <div class="container position-fixed col-2 bg-light shadow rounded p-3 my-3 " >


          <% for(let i=0; i < categories.length;i++){%>
            <div class="row text-black text-center" >
            <a href="#<%=categories[i].name%>">
              <%=categories[i].name%>
            </a>
          </div>
          <hr/>
            <%}%>

            <div class="row justify-content-center">

            <button type="submit" class="btn btn-primary" form="form1">Go to Cart
            </button>
            </div>

        </div>
      </div>
      <div class="col">
        <!-- Images  -->
        <form action='/cart' method='POST' id="form1">

          <% for(let j=0; j < categories.length; j++){%>

            <div class="container">
              <a name="<%=categories[j].name%>"> </a>
              <h2 class="bg-light my-3 p-3 rounded shadow">
                <%=categories[j].name%>
              </h2>

              <div class="container">

                <% for(let i=0;i < items.length;i++){%>

                  <%if(items[i].category_id===j+1){%>


                    <div class="container my-3 p-3 bg-white text-dark rounded shadow">
                      <div class="row justify-content-end">
                        <h3 class="col">
                          <%=items[i].name%>
                        </h3>
                      </div>
                      <div class="row">
                        <div class="desc col">
                          <%=items[i].description%>
                        </div>
                        <img class="col" src="<%=items[i].thumbnail_url%>" height=200; width="200" alt="">
                      </div>
                      <div class="row justify-content-between">
                        <p class="col">
                          $<%=items[i].price / 100%>
                        </p>
                        <div class="col">
                          <div class="row justify-content-end">
                          <p class="col">Quantity</p>
                          <input class="col item-quantity-<%=items[i].id%>" data-oldvalue="0" name="<%=items[i].name%>" id="<%=items[i].name%>" type='number' min='0'
                          placeholder="0">
                        </div>
                      </div>

                        </div>

                    </div>

                    <% }}%>

              </div>


            </div>

            <%}%>
          </form>

      </div>
    </div>
  </div>



  </body>

  </html>
